.center {
  text-align: center;
}
#input {
  background-color: rgb(221, 243, 196);
  padding: 15px;
}
h1 {
  font-size: 80px;
  font-weight: 800;
  font-family:'Gill Sans';
}
label {
  font-size: 20px;
  font-family:'Gill Sans';
}
.background {
  background-color:  rgb(168, 211, 248);
}
.result1{
  display: none;
  background-color: rgb(245, 211, 171);
  font-size: 25px;
  border: 1px solid rgb(10, 13, 48);
  padding: 10px;
}
.result2{
  display: none;
  background-color: rgb(189, 71, 35);
  font-size: 30px;
  color: rgb(255, 251, 0);
  border: 1px solid rgb(10, 13, 48);
  padding: 10px;
}
img {
  width: 300px;
  float:center;
  margin-top: 10px;
  margin-left: 150px;
  border: 2px solid rgb(10, 13, 48);
}